<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.repository.EmployeeDao">

    <resultMap id="base" type="BaseEmployee"></resultMap>
    <select id="find"  resultMap="base" parameterType="BaseEmployee">
       SELECT t.* FROM employee_inf t 
       WHERE 1=1 
       <if test="id != null and id!='' ">
        	AND t.id=#{id}
       </if>
       <if test="dept_id != null and dept_id !='' ">
        	AND t.dept_id=#{dept_id}
       </if>
       <if test="job_id != null and job_id !='' ">
        	AND t.job_id=#{job_id}
       </if>
       <if test="name != null and name !='' ">
        	AND t.name=#{name}
       </if>
       <if test="crad_id != null and crad_id !='' ">
        	AND t.crad_id=#{crad_id}
       </if>
       <if test="address != null and address !='' ">
        	AND t.address=#{address}
       </if>
       <if test="post_code != null and post_code !='' ">
        	AND t.post_code=#{post_code}
       </if>
       <if test="tel != null and tel !='' ">
        	AND t.tel=#{tel}
       </if>
       <if test="phone != null and phone !='' ">
        	AND t.phone=#{phone}
       </if>
       <if test="qq_num != null and qq_num !='' ">
        	AND t.qq_num=#{qq_num}
       </if>
       <if test="email != null and email !='' ">
        	AND t.email=#{email}
       </if>
        <if test="sex != null and sex !='' ">
        	AND t.sex=#{sex}
       </if>
       <if test="party != null and party !='' ">
        	AND t.party=#{party}
       </if>
       <if test="birthday != null and birthday !='' ">
        	AND t.birthday=#{birthday}
       </if>
       <if test="race != null and race !='' ">
        	AND t.race=#{race}
       </if>
       <if test="education != null and education !='' ">
        	AND t.education=#{education}
       </if>
       <if test="speciality != null and speciality !='' ">
        	AND t.speciality=#{speciality}
       </if>
       <if test="hobby != null and hobby !='' ">
        	AND t.hobby=#{hobby}
       </if>
       <if test="remark != null and remark !='' ">
        	AND t.remark=#{remark}
       </if>
       <if test="create_date != null and create_date !='' ">
        	AND t.create_date=#{create_date}
       </if>
       ORDER BY t.id ASC
    </select> 
    <select id="findByPage"  resultMap="base" parameterType="BaseEmployee">
       SELECT t.* FROM employee_inf t WHERE 1=1
        ORDER BY t.id ASC
    </select>  
    <select id="count"  resultType="int" parameterType="BaseEmployee">
       SELECT count(*) FROM mf_good_price t WHERE 1=1 
    </select>      
    <insert id="insert"  parameterType="BaseEmployee">	
 	<![CDATA[
	INSERT INTO mf_good_price(id,goodId,specId,natureId,sinmb,miaoshu,nowprice,price,number,createTime) 
	VALUES (#{id},#{goodId},#{specId},#{natureId},#{sinmb},#{miaoshu},#{nowprice},#{price},#{number},#{createTime})
	]]>  
	</insert>
	<delete id="delete" parameterType="BaseEmployee">
	DELETE FROM mf_good_price  
	WHERE 
	<if test="id != null and id!='' ">
        id=#{id}
    </if>
	<if test="goodId != null and goodId!='' ">
        goodId=#{goodId}
    </if> 
	</delete>
	<delete id="deleteBatch" parameterType="java.util.List">
	DELETE from mf_good_price 
	WHERE id in(
		<foreach item="o" collection="list" open="" separator="," close="" >
			#{o.id}
		</foreach>
		)
	</delete>
	<update id="update" parameterType="BaseEmployee">
		UPDATE mf_good_price 
		SET sinmb=#{sinmb},
			miaoshu=#{miaoshu},
			nowprice=#{nowprice},
			price=#{price},
			number=#{number},
			createTime =#{createTime}
		WHERE id=#{id}
	</update>
	
</mapper>