<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.repository.JobDao">

    <resultMap id="base" type="BaseJob"></resultMap>
    <select id="find"  resultMap="base" parameterType="BaseJob">
       SELECT t.* FROM job_inf t where 1=1
       <if test="id != null and id!='' ">
        	AND t.id=#{id}
       </if>
       <if test="name != null and name !='' ">
        	AND t.name=#{name}
       </if>
       <if test="remark != null and remark !='' ">
        	AND t.remark=#{remark}
       </if>
       ORDER BY t.id ASC
    </select>
    <select id="findByPage"  resultMap="base" parameterType="BaseJob">
       SELECT t.* FROM job_inf t WHERE 1=1
        ORDER BY t.id
    </select> 
    <select id="count"  resultType="int" parameterType="BaseJob">
       SELECT count(*) FROM job_inf t WHERE 1=1 
    </select>      
    <insert id="adddept"  parameterType="BaseJob">	
 	<![CDATA[
	INSERT INTO job_inf(id,name,remark) 
	VALUES (#{id},#{name},#{remark})
	]]>  
	</insert>
	<delete id="deletedept" parameterType="BaseJob">
	DELETE FROM job_inf  
	WHERE 
	<if test="id != null and id!='' ">
        id=#{id}
    </if>
	<if test="name != null and name !='' ">
        name=#{name}
    </if> 
	</delete>
	<delete id="deleteBatch" parameterType="java.util.List">
	DELETE from job_inf 
	WHERE id in(
		<foreach item="o" collection="list" open="" separator="," close="" >
			#{o.id}
		</foreach>
		)
	</delete>
	<update id="updatedept" parameterType="BaseJob">
		UPDATE job_inf 
		SET name=#{name},
			remark=#{remark}
		WHERE id=#{id}
	</update>	
</mapper>